version: '3.8'

services:
  backend:
    build: ./backend
    container_name: mi-sucursal-backend
    ports:
      - "8005:8005"
    env_file:
      - ./backend/.env
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: /misucursal-api
    container_name: mi-sucursal-frontend
    ports:
      - "3005:3000"
    restart: unless-stopped
    depends_on:
      - backend
