services:
  backend:
    build: ./backend
    container_name: mi-sucursal-backend
    network_mode: host
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: /misucursal-api
    container_name: mi-sucursal-frontend
    ports:
      - "3005:3000"
    restart: unless-stopped
